@font-face {
  font-family: "Belisa";
  src: url("./assets/belisa_plumilla.ttf") format("woff")
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #402B3C !important;
}

.App-header {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 20px;
}

.action {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 500;
}

.items {
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-title {
  font-family: 'Belisa';
  color: white;
  text-shadow: -1px 2px 0 black;
  font-weight: 1000;
  font-size: 50px;
  text-decoration: none;
  letter-spacing: .2rem;
}

.graph-button {
  background-color: black;
  color: white;
  font-weight: 600;
  border: none;
  padding: 15px 25px 15px 25px;
  border-radius: 0 !important;
  cursor: pointer;
  font-family: 'Belisa';
  letter-spacing: .2rem;
  font-size: 25px;
}

.graph-button:hover {
  background-color: #151410;
  color: white;
  font-weight: 600;
  border: none;
  padding: 15px 25px 15px 25px;
  border-radius: 0 !important;
  cursor: pointer;
  font-family: 'Belisa';
  letter-spacing: .2rem;
  font-size: 25px;
}

.mrg-top-500 {
  margin-top: 500px;
}

.card {
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  padding: 15px;
}
